*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*boostrap font*/
body{
	font-family: "Helvetica Neue", sans-serif;
}
.text-center{
	text-align: center;
}
.bg-primary{
	background-color: dodgerblue;
}
.bg-secondary{
	background-color: lightslategrey;
}
.text-light{
	color: white;
}

.border{
	border: 1px solid black;
}

.border-black{
	border-color:black;
}

.pt-3{
	padding-top: 20px;

}

.pb-3{
		padding-bottom: 20px;
}

/*bootstrap gridclass*/

.row{
	display: flex;
	flex-wrap: wrap;
}

/*
display:flex;
-the flex value of display will make element block level flex container, making the child flexible
-they will appear beside each other  and have an auto-width and auto height

flex-wrap:wrap;
-the value of flex will exceed the width of the screen to wrap around and pushed below previous elemenents in the same block
breaks the wrap in multiple lines
-

*/


/*
	-the boostrap grid system used columns instead of normal pc and other measurement 

	-12 columns
	-it divide 100% in 12 columns 
	-when used 2 columns it uses one of the 12

*/


.col-1{
	width: calc(100% / 12);
}

/*
	the calc function will apply calculation to the width of an element
	the fullwidth parent element divided by 100% divided by 12
*/

.col-2{
	width: calc((100% / 12) *2);
}

.col-3{
	width: calc((100% / 12)*3);
}

.col-4{
	width: calc((100% / 12)*4);
}

.col-5{
	width: calc((100% / 12)*5);
}

.col-6{
	width: calc((100% / 12)*6);
}

.col-7{
	width: calc((100% / 12)*7);
}

.col-8{
	width: calc((100% / 12)*8);
}

.col-9{
	width: calc((100% / 12)*9);
}

.col-10{
	width: calc((100% / 12)*10);
}

.col-11{
	width: calc((100% / 12)*11);
}

.col-12{
	width: calc((100% / 12)*12);
}

@media (min-width:0px){
	body{
		background-color: pink;
	}

}

/*mobile first appearance*/
/*small devices*/
@media (min-width:576px){
	body{
		background-color: yellow;
	}
}

/*medium devices*/
@media (min-width:768px){
	body{
		background-color: lightgreen;
	}
}

/*large devices*/
@media (min-width:992px){
	body{
		background-color: lightskyblue;
	}

}











